header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: teal;
  padding: 10px;
}

header h1 {
  padding-left: 20px;
  color: white;
}

body {
  border: 1px solid black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

nav a {
  margin-right: 10px;
}

#banner {
  min-height: 400px;
  background-image: url("../images/banner.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#banner h2 {
  background-color: teal;
  color: white;
  padding: 20px;
  border: 1px solid black;
}

button {
  background-color: darkgray;
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
}

button2 {
  background-image: url("../images/button2.jpg");
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  max-width: 500px;
  min-width: 500px;
}

button3 {
  background-image: url("../images/button3.jpg");
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  max-width: 300px;
  min-width: 300px;
}

button4 {
  background-image: url(../images/button4.jpg);
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  max-width: 300px;
  min-width: 300px;
}

button5 {
  background-image: url(../images/button5.jpg);
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  max-width: 300px;
  min-width: 300px;
}

button6 {
  background-image: url(../images/button6.jpg);
  border-radius: 20px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  max-width: 300px;
  min-width: 300px;
}

#about {
  display: flex;
  justify-content: flex-end
  border: 1px solid black;
  background-color: teal;
  text-align: left;
  min-height: 200px;
}

#work {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid black;
  background-color: white;
  text-align: left;
  min-height: 200px;
}

#contact {
  display: flex;
  justify-content: flex-end
  border: 1px solid black;
  background-color: teal;
  text-align: left;
  min-height: 80px;
}

#about h2 , #contact h2 {
  color: white;
  padding-left: 10px;
  padding-right: 30px;
}

#work h2 {
  color: teal;
  padding-left: 10px;
}

#about h4 {
  color: white;
}

#contact h4 {
  color: teal;
}